# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.mo
local_settings.py
staticfiles/
media/

# Databases
*.sqlite3

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
